@tailwind base;
@tailwind components;
@tailwind utilities;

:global(.dark) .optimization {
  background: linear-gradient(27deg, #3d3d3d, #252525);
}

.features-icon {
  mask-image: linear-gradient(
    60deg,
    black 25%,
    rgba(0, 0, 0, 0.2) 50%,
    black 75%
  );
  mask-size: 400%;
  mask-position: 0%;
}
.features-icon:hover {
  mask-position: 100%;
  transition: mask-position 1s ease, -webkit-mask-position 1s ease;
}
